@{
    ViewData["Title"] = "Öğrenci Dashboard";
}
<h2 class="mb-4">Öğrenci Dashboard</h2>
<div class="row">
    <div class="col-md-6 mb-3">
        <a asp-controller="BookRental" asp-action="Index" class="btn btn-primary w-100">Kitap Kirala</a>
    </div>
    <div class="col-md-6 mb-3">
        <a asp-controller="SeatReservation" asp-action="Index" class="btn btn-info w-100">Koltuk Rezerve Et</a>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        <a asp-controller="BookRental" asp-action="MyRentals" class="btn btn-success w-100">Kiralanan Kitaplarım</a>
    </div>
    <div class="col-md-6 mb-3">
        <a asp-controller="SeatReservation" asp-action="MyReservations" class="btn btn-success w-100">Koltuk Rezervasyonlarım</a>
    </div>
</div> 