@model IEnumerable<Library.Core.User>
@{
    ViewData["Title"] = "Admin Paneli";
}
<h2>Admin Paneli</h2>
<a asp-action="AddStaff" class="btn btn-primary mb-3">Yeni Personel Ekle</a>
<a asp-controller="SeatReservation" asp-action="Manage" class="btn btn-outline-warning mb-3 ms-2">Koltuk Yönetimi</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Kullanıcı Adı</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var staff in Model)
    {
        <tr>
            <td>@staff.FirstName</td>
            <td>@staff.LastName</td>
            <td>@staff.Username</td>
            <td>@staff.Email</td>
        </tr>
    }
    </tbody>
</table> 